<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" style="border-bottom: none;">
          <div style="text-align: right;">
            <button type="button" routerLink="alta" class="btn btn-primary" title="Alta de Producto">ALTA PRODUCTO</button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive pt-0" style="height: 450px;">
        <table class="table table-head-fixed table-hover text-nowrap table-striped">
          <thead>
            <tr>
              <th>C&Oacute;DIGO</th>
              <th>NOMBRE</th>
              <th>DETALLE</th>
              <th>PRECIO</th>
              <th>INVENTARIO</th>
              <th>MARCA</th>
              <th>CATEGOR&Iacute;A</th>
              <th>ACCI&Oacute;N</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos">
              <td>{{producto.codigoProducto}}</td>
              <td>{{producto.nombreProducto}}</td>
              <td>{{producto.descripcion}}</td>
              <td>{{producto.precio}}</td>
              <td>{{producto.inventario}}</td>
              <td>{{producto.marca.nombreMarca}}</td>
              <td>{{producto.categoria.nombreCategoria}}</td>
              <td>
                <button type="button" class="btn btn-sm btn-primary" style="margin-right: 10px;"
                  title="Editar de producto" (click)="editarProducto(producto.idProducto)">
                  <i class="fas fa-edit"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>
