<section class="content">
  <div class="error-page">
    <h2 class="headline text-warning"> 404</h2>

    <div class="error-content">
      <h3><i class="fas fa-exclamation-triangle text-warning"></i> Página no encontrada.</h3>

      <p>
        Parece que ha habido un error con la página que esta buscando.
      </p>
      <p>
        Es posible que la entrada haya sido eliminada o que la dirección no exista.
      </p>

    </div>
    <!-- /.error-content -->
    <div class="row">
      <div class="col-9">
        <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;" routerLink="">
           Ir a página principal
        </button>
      </div>
    </div>
  </div>
  <!-- /.error-page -->

</section>
