<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" style="border-bottom: none;">
        <div style="text-align: right;">
          <button type="button" routerLink="alta" class="btn btn-primary" title="Alta de Proveedor">ALTA
            PROVEEDOR</button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive pt-0" style="height: 450px;">
        <table class="table table-head-fixed table-hover table-striped">
          <thead>
            <tr>
              <th>NO. EMPLEADO</th>
              <th>NOMBRE</th>
              <th>EMPRESA</th>
              <th>RFC</th>
              <th>TELEFONO</th>
              <th>DIRECCI&Oacute;N</th>
              <th style="width: 120px;">ACCI&Oacute;N</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let proveedor of proveedores">
              <td>{{proveedor.idUsuario}}</td>
              <td>{{proveedor.apellidoPaterno}} {{proveedor.apellidoMaterno}} {{proveedor.nombre}}</td>
              <td>{{proveedor.proveedor.nombre}}</td>
              <td>{{proveedor.proveedor.rfc}}</td>
              <td>{{proveedor.proveedor.telefono}}</td>
              <td>{{proveedor.proveedor.direccion}}</td>
              <td>
                <button type="button" [routerLink]="['/proveedores/editar', proveedor.idUsuario]" class="btn btn-sm btn-primary" style="margin-right: 10px;"
                  title="Editar proveedor">
                  <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-sm btn-danger" title="Baja de proveedor"
                  (click)="eliminarProveedor(proveedor.idUsuario)">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- /.card-body -->
      </div>
    </div>
  </div>
