  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-blue elevation-4">
    <!-- Brand Logo -->
    <div class="brand-link" style="border-bottom-color: whitesmoke; border-bottom-right-radius: 8%; border-bottom-left-radius: 8%;">
      <img src="../../../assets/dist/img/logor.jpg" alt="Tech" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light" style="color: white; font-size: 18px">Abarrotes "El Travieso"</span>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a routerLink="home" class="nav-link">
              <i class="nav-icon fas fa-home" style="color: white"></i>
              <p style="color: white">
                Inicio
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="ventas" class="nav-link">
              <i class="nav-icon fas fa-cash-register" style="color: white"></i>
              <p style="color: white">
                Ventas
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="productos" class="nav-link">
              <i class="nav-icon fas fa-clipboard-list" style="color: white"></i>
              <p style="color: white">
                Productos
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="personal" class="nav-link">
              <i class="nav-icon fas fa-user-friends" style="color: white"></i>
              <p style="color: white">
                Personal
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>


