<div class="card">
  <div class="col-md-12">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <form autocomplete="off" [formGroup]="formulario">
                <div class="form-group">
                  <label for="exampleInputEmail1">C&oacute;digo del producto</label>
                  <input formControlName="codigo" [(ngModel)]="codigo" (input)="convertirAMayusculas()" type="text" class="form-control" id="exampleInputEmail1"
                    placeholder="Ingresar C&oacute;digo">
                </div>
                <div style="text-align: center;">
                  <button type="button" (click)="agregarProducto(this.formulario.value.codigo)" class="btn btn-block btn-warning" title="Agregar Producto">
                    <i class="fa fa-shopping-cart" style="color: white"></i>
                  </button>
                </div>
                <!-- /.card-body -->
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-9">
          <div class="card">

            <!-- /.card-header -->
            <div class="card-body table-responsive pt-0 mt-2" style="height: 350px;">
              <table class="table table-head-fixed table-hover">
                <thead>
                  <tr>
                    <th style="width: 10px;">#</th>
                    <th style="width: 40px;">Producto</th>
                    <th style="width: 40px;">Descripci&oacute;n</th>
                    <th style="width: 20px;">C&oacute;digo</th>
                    <th style="width: 10px;">Precio</th>
                    <th style="width: 10px;">Acci&oacute;n</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let producto of productosAgregados ; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{producto.nombreProducto}}</td>
                    <td>{{producto.descripcion}}</td>
                    <td>{{producto.codigoProducto}}</td>
                    <td>{{producto.precio}}</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-danger" title="Quitar producto"
                        (click)="quitarProducto(i, producto.precio)">
                        <i class="fas fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <div class="card-header" style="border-bottom: none;">
            <h5 style="text-align: center;">Total: ${{total}} <small>MNX</small></h5>
            <button type="button" class="btn btn-block btn-success"
              title="Finalizar venta" (click)="finalizarCompra()">Finalizar</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
