

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div>
        <div style="text-align: center;">
          <img src="../../../assets/dist/img/tiendaapp11.jpg" alt="Descripción de la imagen" style="height: 700px; width: 100%;">
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h2 style="text-align: center"><em>Misi&oacute;n</em></h2>
                <em>
                  Nuestra misión en Abarrotes <strong>"El Travieso"</strong> es ofrecer a nuestros clientes una experiencia de compra excepcional al proporcionar productos de alta calidad, un servicio al cliente excepcional y un ambiente acogedor. Nos esforzamos por ser un destino confiable para aquellos que buscan productos únicos y de tendencia, brindando un valor agregado a sus vidas a través de nuestras ofertas y comprometiéndonos con la satisfacción del cliente en cada interacción.
                </em>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h2 style="text-align: center"><em>Visi&oacute;n</em></h2>
                <em>
                  En Abarrotes <strong>"El Travieso"</strong>, nuestra visión es convertirnos en la tienda preferida y de referencia para nuestros clientes, siendo reconocidos por nuestra excelencia en productos, servicio al cliente y compromiso con la comunidad. Buscamos innovar constantemente en la selección de productos, la experiencia de compra y las prácticas sostenibles, creando un impacto positivo en la vida de nuestros clientes y en el mundo que nos rodea.
                </em>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>









