<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div style="text-align: right;">
          <button type="button" class="btn btn-info">Alta Empleado</button>
      </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>NO. EMPLEADO</th>
              <th>NOMBRE</th>
              <th>FECHA DE INGRESO</th>
              <th>FECHA DE SALIDA</th>
              <th>PUESTO</th>
              <th>ESTATUS</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let empleado of empleados">
              <td>{{empleado.idEmpleado}}</td>
              <td>{{empleado.apellidoPaterno}} {{empleado.apellidoMaterno}}  {{empleado.nombre}}</td>
              <td>{{empleado.fechaIngreso}}</td>
              <td>{{empleado.fechaSalida}}</td>
              <td>{{empleado.rol.nombrePuesto}}</td>
              <td *ngIf="empleado.activo; else noActivo">ACTIVO</td>
              <ng-template #noActivo>
                <td>INACTIVO</td>
              </ng-template>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>
